/*
header
*/
header {
	background-color: white;
}

header img {
	height: 30%;
}

/*
body
*/

body {
	font-family: 'Tomorrow', sans-serif;
	color: white;
	margin: 0;
	background-image: url("../img/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	color: #f140bc;
}

form {
	text-align: right;
	margin-left: 10%;
	margin-right: 10%;
	color: white;
}

form img {
	width: 50%;
	margin-right: 10%;
	float: left;
	margin-bottom: 40px;
}

small {
	font-size: 9px;
}

/*headings*/
h1 {
	margin-top: auto;
	font-family: 'Bebas Neue', cursive;
	text-align: right;
	font-size: 300%;
	padding-bottom: 2%;
	color: #333;
	display: block;
	background-color: white;
	width: 100%;
	height: auto;
}

h2 {
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	clear: both;
	color: white;
}

h3 {
	clear: both;
	color: white;
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
}

h2, h3, h4 {
	font-family: 'Bebas Neue', cursive;
}

/*nav and links*/

nav {
	float: left;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

nav li {
	padding: 0;
	margin: 0;
	float: left;
}

nav li a {
	text-decoration: none;
	font-size: 160%;
	display: block;
	padding-right: .75em;
	padding-left: .75em;
	padding-top: .75em;
	width: auto;
	text-align: center;
	font-family: 'Bebas Neue';
}

nav li a:link {
	color: #333;
}

nav li a:visited {
	color: #3cc6fb;
}

nav li a:hover {
	color: white;
}

nav li a:active {
	color: #f140bc;
	background-size: auto 100%;
}

/*footer*/

footer {
	background-color: white;
	clear: left;
	margin-top: 40px;
	padding: 40px 0;
	width: 100%;
	color: #333;
	margin: 0;
	font-size: 0.8em;
	text-align: center;
}
